---
layout: default
---

{% if page.url == "/" %}
<section class="box special">
	<header class="major">
		<h2><a href="http://linuxihaa.ir/%D8%A8%D8%B1%D8%B1%D8%B3%DB%8C-%D8%A7%D9%88%D8%A8%D9%88%D9%86%D8%AA%D9%88-%DB%B1%DB%B6.%DB%B1%DB%B0/" title="Ubuntu 16.10" >بررسی اوبونتو ۱۶.۱۰</a></h2>
		<p>حامی این مطلب شوید و علاوه بر حمایت از نویسنده، محصولات و خدمات خود را نیز تبلیغ کنید!<br/>
		برای اطلاعات بیشتر با ما <a href="{{ site.baseurl }}/contact/">تماس</a> بگیرید.
		</p>
	</header>
	<span class="image featured"><img src="{{ site.baseurl }}/assets/images/cn/ubuntu1610.png" alt="Ubuntu 16.10" /></span>
</section>
{% endif %}
<div class="row">
	{% for post in paginator.posts %}
		{% include excerpt.html %}
	{% endfor %}
</div>
<div class="pagination">
	{% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}" class="previous">« مطالب جدیدتر</a>{% else %}<span class="previous">« مطالب جدیدتر</span>{% endif %}
	{% if paginator.next_page %}<a href="{{ paginator.next_page_path }}" class="next">مطالب قدیمی‌تر »</a>{% else %}<span class="next ">مطالب قدیمی‌تر »</span>{% endif %}
</div>
