<!-- Banner -->
	<section id="banner">
		<h1>لینوکسی‌ها</h1>
		<p>هدف ما استفاده‌ی بهتر کاربران از توزیع‌های گنو/لینوکس است.<br/>لینوکسی‌ها مطالب مورد نیاز را با نگارش و شیوه‌ای درست در اختیار کاربران قرار می‌دهد.</p>
		<ul class="icons">
			<li><a href="http://facebook.com/linuxihaa/" class="icon genericon genericon-facebook" target="_blank">Facebook</a></li>
			<li><a href="https://twitter.com/linuxihaa/" class="icon genericon genericon-twitter" target="_blank">Twitter</a></li>
			<li><a href="https://telegram.me/linuxiha/" class="icon genericon genericon-telegram" target="_blank">Telegram</a></li>
			<li><a href="https://www.instagram.com/linuxiha/" class="icon genericon genericon-instagram" target="_blank">Instagram</a></li>
			<li><a href="https://plus.google.com/109502803142394425024/posts" class="icon genericon genericon-googleplus" target="_blank">Google+</a></li>
			<li><a href="http://www.youtube.com/channel/UCM8_p07cthYziOA96HDdzOg" class="icon genericon genericon-youtube" target="_blank">YouTube</a></li>
			<li><a href="https://github.com/linuxihaa/" class="icon genericon genericon-github" target="_blank">Github</a></li>
			<li><a href="{{ site.baseurl }}/feed.xml" class="icon genericon genericon-feed" target="_blank">RSS Feed</a></li>
		</ul>
	</section>
