<div class="6u">
	<article class="box special">
		<header>
			<span class="image featured"><a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}/assets/images/{% if post.featured %}{{ post.featured }}{% else %}default.jpg{% endif %}" alt="{{ post.title }}" /></a></span>
			<h2 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
		</header>
		<div class="excerpt">{{ post.excerpt | truncatewords:30 }}</div>
		<footer class="meta">
			{% if post.jdate %}
				{% assign jdate = post.jdate | split: "-" %}
				{% assign y = jdate[0] | minus: 0 %}
				{% assign m = jdate[1] | minus: 1 %}
				{% assign d = jdate[2] | minus: 0 %}
				{% assign w = post.date | date: "%w" | minus: 0 %}
			{% endif %}
			<time class="date" pubdate datetime="{{ post.date | date_to_xmlschema }}
">{% if post.jdate %}{{ site.data.date.weekdays[w] }} {{ d }} {{ site.data.date.months[m] }} {{ y }}{% else %}{{ post.date | date: "%A %d %m %y" }}{% endif %}</time>
		</footer>
	</article>
</div>