<!DOCTYPE HTML>
<html lang="{{ site.lang }}">
	<head>
		<title>{{ site.title | escape }} - {% if page.title %}{{ page.title | escape }}{% else %}{{ site.short_description }}{% endif %}</title>
		<meta http-equiv="content-type" content="text/html; charset={{ site.encode }}" />
		<link type="application/atom+xml" rel="alternate" href="http://linuxihaa.ir/feed.xml" title="لینوکسی‌ها">
		<link type="application/xml" rel="sitemap" title="لینوکسی‌ها" href="http://linuxihaa.ir/sitemap.xml" />
		<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
			<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.scrollgress.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js?v=2016-07-09:3"></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
		<meta name="robots" content="noodp"/>
		<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>
		<meta property="og:site_name" content="{{ site.title }}" />
		<link rel="canonical" href="{{ site.url }}{% if page.url %}{{ page.url }}{% endif %}" />
		<meta property="og:locale" content="{{ site.locale }}" />
		<meta property="og:type" content="{% if page.key %}{{ page.key }}{% else %}article{% endif %}" />
		<meta property="og:title" content="{% if page.title %}{{ site.title | escape }} - {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
		<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.content | strip_html | truncatewords:30}}{% endif %}" />
		{% if page.url %}<meta property="og:url" content="{{ site.url }}{{ page.url }}" />{% endif %}
		{% if page.keywords %}<meta property="article:tag" content="{{ page.keywords | first }}" />{% endif %}
		{% if page.categories %}<meta property="article:section" content="{{ page.categories | first }}" />{% endif %}
		{% if page.date %}<meta property="article:published_time" content="{{ page.date }}" />{% endif %}
		{% if page.edit %}<meta property="article:modified_time" content="{{ page.edit }}" />{% endif %}
		{% if page.edit %}<meta property="og:updated_time" content="{{ page.edit }}" />{% endif %}
		<meta property="og:image" content="{% if page.featured %}{{ site.url }}/assets/images/{{ page.featured }}{% else %}{{ site.url }}/logo.png{% endif %}" />
		<meta property="og:image:width" content="600" />
		<meta property="og:image:height" content="300" />
	</head>
	{% if page.url == "/" %}
		<!-- Banner -->
		<body class="landing">
			{% include banner.html %}
	{% else %}
		<body>
			<section id="banner"></section>
	{% endif %}
	{% include nav.html %}
	<!-- Main -->
	<section id="main" class="container">
