<!-- Header -->
	<header id="header" class="alt">
		<div id="logo" ><a href="{{ site.baseurl }}/"><span>لینوکسی‌ها</span><img src="{{ site.baseurl }}/logo.png" /></a></div>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/">خانه</a></li>
				<li>
					<a href="" class="icon fa-angle-down">دسته‌بندی</a>
					<ul>
						{% for category in site.categories %}
						<li><a href="/category/{{ category | first }}/">{{ category | first }}</a></li>
						{% endfor %}
					</ul>
				</li>
				<li><a href="{{ site.baseurl }}/about/">درباره</a></li>
				<li><a href="{{ site.baseurl }}/cooperation/">همکاری</a></li>
				<li><a href="{{ site.baseurl }}/contact/">تماس</a></li>
			</ul>
		</nav>
	</header>
