$background-color: #f6f6f6;
$shadow-color: #BEBEBE;
$primary: #ce1919;
$dark: #901111;
$light: #a8a8a8;
$lighter: #d6d5d5;

$text-light: #ffffff;
$text-dark: #494949;

$code: #282c34;
$overlay: rgba(0, 0, 0, 0.6);